*{
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    height: 800px;
    border: 4px solid #000000;
    border-radius: 8px;

}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.cell{
    border: 1px solid #ccc;
    flex: 1;
}
